$color-white: #ffffff;
$color-black: black;

$themes: ("dark-gray", "dark-blue");

$color-primary: (
  "dark-gray": #fb6715,
  "dark-blue": #0093ff,
);

$color-primary-light: (
  "dark-gray": mix(#fb6715, $color-white, 90%),
  "dark-blue": mix(#0093ff, $color-white, 90%),
);

$color-text-primary: (
  "dark-gray": #fb6715,
  "dark-blue": #0093ff,
);

$color-text-regular: (
  "dark-gray": #b9b9b9,
  "dark-blue": #9aa3d4,
);

$color-text-secondary: (
  "dark-gray": #f9f9f9,
  "dark-blue": #cfd9e5,
);

$color-text-placeholder: (
  "dark-gray": #7e7e7e,
  "dark-blue": #7f85a9,
);

$color-background-card: (
  "dark-gray": #474747,
  "dark-blue": #171b27,
);

$color-background-card-hover: (
  "dark-gray": #555454,
  "dark-blue": #262c3c,
);

$color-background-navigation: (
  "dark-gray": #353537,
  "dark-blue": #181c27,
);

$color-background-home: (
  "dark-gray": #1e1f22,
  "dark-blue": #121421,
);

$color-background-aside: (
  "dark-gray": #353537,
  "dark-blue": #121421,
);

$color-background-aside-active: (
  "dark-gray": #474748,
  "dark-blue": #1c1f32,
);

$box-shadow-card: (
  "dark-gray": 0px 0px 9px 1px rgba(0, 0, 0, 0.2),
  "dark-blue": 0px 0px 12px 3px rgba(0, 0, 0, 0.4),
);

$color-background-card-room: (
  "dark-gray":
    linear-gradient(120deg, rgba(88, 173, 246, 1), rgba(7, 99, 226, 1)),
  "dark-blue":
    linear-gradient(120deg, rgba(84, 190, 234, 1), rgba(219, 83, 160, 1)),
);

$box-shadow-card-room: (
  "dark-gray": 0px 0px 3px 0px rgba(0, 0, 0, 0.35),
  "dark-blue": 0 0 12px 3px #373a44,
);

$border-info: (
  "dark-gray": 2px solid #696969,
  "dark-blue": 2px solid #353d55,
);

$border-card-small: (
  "dark-gray": 2px solid #2e2e2e,
  "dark-blue": 2px solid #353e56,
);

//弹框背景色
$background-dialog: (
  "dark-gray": #1E2022,
  "dark-blue": #181C28
  );
  
//弹框内容区域背景色
$background-dialog-content: (
  "dark-gray": #363638,
  "dark-blue": #1E232E
);

//导航栏激活彩条
$background-menu-active: (
  "dark-gray": linear-gradient(0deg,rgba(236,76,34,1),rgba(12,134,226,1)),
  "dark-blue": linear-gradient(0deg,rgba(236,34,88,1),rgba(12,134,226,1))
);

// 卡片中的房间号
@mixin card-room {
  @each $theme in $themes {
    .#{$theme} & {
      background: map-get($map: $color-background-card-room, $key: $theme);
      box-shadow: map-get($map: $box-shadow-card-room, $key: $theme);
    }
  }
}

// 获取颜色方案
@mixin theme-property($property, $var) {
  @each $theme, $value in $var {
    .#{$theme} & {
      #{$property}: $value;
    }
  }
}

// 激活边框样式
@mixin border-active {
  @each $theme, $value in $color-primary {
    .#{$theme} & {
      border: {
        width: 1px;
        style: solid;
        color: $value;
      }
    }
  }
}

@mixin radio-button {
  @each $theme in $themes {
    .#{$theme} & {
      background-color: map-get($map: $color-primary, $key: $theme);
      border-color: map-get($map: $color-primary, $key: $theme);
      box-shadow: -1px 0 0 0 map-get($map: $color-primary, $key: $theme);
    }
  }
}

/*日期时间选择器*/
$dateTimePicker-color-background: (
  "dark-gray": "",
  "dark-blue": #252c40,
);
$dateTimePicker-color-border: (
  "dark-gray": "",
  "dark-blue": #353e56,
);
@mixin dateTimePicker {
  @each $theme in $themes {
    .#{$theme} .dateTimePicker {
      background: map-get($map: $dateTimePicker-color-background, $key: $theme);
      border-color: map-get($map: $dateTimePicker-color-border, $key: $theme);
      .el-time-panel {
        background: map-get(
          $map: $dateTimePicker-color-background,
          $key: $theme
        );
      }
      .el-time-panel__footer {
        border-top: 1px solid map-get($map: $dateTimePicker-color-border, $key: $theme);
      }
      .el-time-panel__content::after, .el-time-panel__content::before {
        border-color: map-get($map: $dateTimePicker-color-border, $key: $theme);
      }
      .el-picker-panel__icon-btn {
        color: map-get($map: $color-text-primary, $key: $theme);
      }
      .el-date-table th {
        border-bottom: 1px
          solid
          map-get($map: $dateTimePicker-color-border, $key: $theme);
      }
      .el-date-picker__time-header,
      .el-date-picker__header--bordered,
      .el-date-range-picker__time-header,
      .el-date-range-picker__content.is-left {
        border-color: map-get($map: $dateTimePicker-color-border, $key: $theme);
      }
      .el-picker-panel__footer {
        background: map-get(
          $map: $dateTimePicker-color-background,
          $key: $theme
        );
        border-top: 1px
          solid
          map-get($map: $dateTimePicker-color-border, $key: $theme);
      }
      .el-date-table td.in-range div {
        background: map-get(
          $map: $dateTimePicker-color-background,
          $key: $theme
        );
      }
    }
  }
}

