$color-white: #ffffff;
$color-black: black;

// 主题列表
$themes: ("dark-gray", "dark-blue", "light-white");

@function color-lighten($map, $theme, $amount) {
  @return lighten(map-get($map: $map, $key: $theme), $amount);
}

// 主题色
$color-primary: (
  "dark-gray": #fb6715,
  "dark-blue": #0093ff,
  "light-white": #0094ff,
);

$color-primary-light: (
  "dark-gray": color-lighten($color-primary, "dark-gray", 10%),
  "dark-blue": color-lighten($color-primary, "dark-blue", 10%),
  "light-white": color-lighten($color-primary, "light-white", 10%),
);

// 主题字色
$color-text-primary: (
  "dark-gray": #fb6715,
  "dark-blue": #0093ff,
  "light-white": #0094ff,
);

// 一般字色
$color-text-regular: (
  "dark-gray": #b9b9b9,
  "dark-blue": #9aa3d4,
  "light-white": #717c92,
);

$color-regular-light: (
  "dark-gray": color-lighten($color-text-regular, "dark-gray", 10%),
  "dark-blue": color-lighten($color-text-regular, "dark-blue", 10%),
  "light-white": color-lighten($color-text-regular, "light-white", 10%),
);

// 次要字色
$color-text-secondary: (
  "dark-gray": #f9f9f9,
  "dark-blue": #cfd9e5,
  "light-white": #1a1a1a,
);

// 再次要字色
$color-text-placeholder: (
  "dark-gray": #7e7e7e,
  "dark-blue": #7f85a9,
  "light-white": #717c92,
);

// 床头卡左上角手术室文字颜色
$color-text-card-title: (
  "dark-gray": #BABABA,
  "dark-blue": #8085AA,
  "light-white": #717C92,
);

// 卡片背景色
$color-background-card: (
  "dark-gray": #474747,
  "dark-blue": #171b27,
  "light-white": #f8f8f8,
);

// 卡片鼠标悬浮背景色
$color-background-card-hover: (
  "dark-gray": #636363,
  "dark-blue": #262c40,
  "light-white": #e2e3e8
  );
  // "light-white": #ebecef,

// 导航背景色（上部搜索区域）
$color-background-navigation: (
  "dark-gray": #353537,
  "dark-blue": #181c27,
  "light-white": #f8f8f8,
);

// 整体背景色
$color-background-home: (
  "dark-gray": #1e1f22,
  "dark-blue": #121421,
  "light-white": #e8e8e8,
);

// 左侧背景色
$color-background-aside: (
  "dark-gray": #353537,
  "dark-blue": #121421,
  "light-white": #f8f8f8,
);

// 左侧标题激活时背景色
$color-background-aside-active: (
  "dark-gray": #474748,
  "dark-blue": #1c1f32,
  "light-white": #419ddf,
);

// 左侧投影
$box-shadow-aside: (
  "dark-gray": 4px 0px 5px 0px rgba(0, 0, 0, 0.3),
  "dark-blue": 4px 0px 5px 0px rgba(0, 0, 0, 0.4),
  "light-white": 3px 0px 5px 0px rgba(0, 0, 0, 0.1),
);

// 卡片投影
$box-shadow-card: (
  "dark-gray": 0px 0px 9px 1px rgba(0, 0, 0, 0.2),
  "dark-blue": 0px 0px 12px 3px rgba(0, 0, 0, 0.4),
  "light-white": 0px 0px 5px 0px rgba(0, 0, 0, 0.15),
);

// 卡片中左侧房间号-床号背景
$color-background-card-room: (
  "dark-gray":
    linear-gradient(120deg, rgba(88, 173, 246, 1), rgba(7, 99, 226, 1)),
  "dark-blue":
    linear-gradient(120deg, rgba(84, 190, 234, 1), rgba(219, 83, 160, 1)),
  "light-white":
    linear-gradient(120deg, rgba(85, 191, 234, 1), rgba(219, 84, 160, 1)),
);

// 房间号-床号的投影
$box-shadow-card-room: (
  "dark-gray": 0px 0px 3px 0px rgba(0, 0, 0, 0.35),
  "dark-blue": 0 0 12px 3px #373a44,
  "light-white": none,
);

// 病人信息边框
$border-info: (
  "dark-gray": 2px solid #696969,
  "dark-blue": 2px solid #353d55,
  "light-white": 2px solid #cecece,
);

// 病人信息标题
$color-text-info-title: (
  "dark-gray": white,
  "dark-blue": white,
  "light-white": black,
);

// 上部病人信息卡片边框
$border-card-small: (
  "dark-gray": 2px solid #2e2e2e,
  "dark-blue": 2px solid #353e56,
  "light-white": 1px solid #cecece,
);

// 文书按钮边框色
$border-color-basic: (
  "dark-gray": #bababa,
  "dark-blue": #485474,
  "light-white": #cecece,
);

// 文书背景色
$color-background-document: (
  "dark-gray": #e3e3e3,
  "dark-blue": #e3e3e3,
  "light-white": #f8f8f8,
);

// 文书投影
$box-shadow-document: (
  "dark-gray": 1px 20px 45px 5px rgba(0, 0, 0, 0.5),
  "dark-blue": 1px 20px 45px 5px rgba(0, 0, 0, 0.5),
  "light-white": 1px 20px 23px 8px rgba(0, 0, 0, 0.2),
);

//弹框背景色
$background-dialog: (
  "dark-gray": #1e2022,
  "dark-blue": #181c28,
  "light-white": #F0F0F0,
);

//弹框内容区域背景色
$background-dialog-content: (
  "dark-gray": #363638,
  "dark-blue": #1e232e,
  "light-white": #F8F8F8,
);

//导航栏激活彩条
$background-menu-active: (
  "dark-gray":
    linear-gradient(0deg, rgba(236, 76, 34, 1), rgba(12, 134, 226, 1)),
  "dark-blue":
    linear-gradient(0deg, rgba(236, 34, 88, 1), rgba(12, 134, 226, 1)),
  "light-white":
    linear-gradient(0deg,rgba(236,34,88,1),rgba(12,134,226,1))
);

//导航栏激活彩条---竖屏
$background-menu-active-portrait: (
  "dark-gray":
    linear-gradient(90deg, rgba(236, 76, 34, 1), rgba(12, 134, 226, 1)),
  "dark-blue":
    linear-gradient(90deg, rgba(236, 34, 88, 1), rgba(12, 134, 226, 1)),
  "light-white":
    linear-gradient(90deg, rgba(236,34,88,1) ,rgba(12,134,226,1))
);

//vxe表格文字颜色
$color-vxe-table:(
  "dark-gray": #FAFAFA,
  "dark-blue": #D0DAE5,
  "light-white": #1A1A1A,
);

// 大事件药品列表背景色
$background-event-list:(
  "dark-gray": #2E2E34,
  "dark-blue": #262C40,
  "light-white": #E2E3E5,
);

// 大事件药品列表悬浮背景色
$background-hover-event-list:(
  "dark-gray": #FB6816,
  "dark-blue": #0094FF,
  "light-white": #0094FF,
);

// 大事件药品列表文字色
$color-event-list:(
  "dark-gray": #BABABA,
  "dark-blue": #9BA4D5,
  "light-white": #717C92,
);

//大事件药品列表边框色
$border-event-list:(
  "dark-gray": 1px solid #484848,
  "dark-blue": 1px solid #363E56,
  "light-white": 1px solid #cecece,
);

// 大事件左半部边框色
$border-event-left:(
  "dark-gray": 1px solid #5A5A5A,
  "dark-blue": 1px solid #39425C,
  "light-white": 1px solid #CECECE,
);

// 多选框背景色
$background-checkbox:(
  "dark-gray": #2E2E34,
  "dark-blue": #262C40,
  "light-white": #EBECEF
);

// 多选框选中背景色
$background-checkbox-checked:(
  "dark-gray": #FB6816,
  "dark-blue": #0094FF,
  "light-white": #0094FF
);

//多选框边框颜色
$border-checkbox:(
  "dark-gray": 1px solid #484848,
  "dark-blue": 1px solid #363E56,
  "light-white": 1px solid #CECECE
);

// 列表项文字颜色
$color-text-listItem: (
  "dark-gray": #FAFAFA,
  "dark-blue": #D0DAE5,
  "light-white": #707B91,
);
// 列表项背景颜色
$color-background-listItem: (
  "dark-gray": #444444,
  "dark-blue": #292F40,
  "light-white": #F1F1F1,
);
// 列表项悬停背景颜色
$color-background-listItem-hover: (
  "dark-gray": #2D2D33,
  "dark-blue": #252C40,
  "light-white": #CDCDCD,
);

// 卡片中的房间号
@mixin card-room {
  @each $theme in $themes {
    .#{$theme} & {
      background: map-get($map: $color-background-card-room, $key: $theme);
      box-shadow: map-get($map: $box-shadow-card-room, $key: $theme);
    }
  }
}

// 获取颜色方案
@mixin theme-property($property, $var) {
  @each $theme, $value in $var {
    .#{$theme} & {
      #{$property}: $value;
    }
  }
}

// 激活边框样式
@mixin border-active {
  @each $theme, $value in $color-primary {
    .#{$theme} & {
      border: {
        width: 1px;
        style: solid;
        color: $value;
      }
    }
  }
}

/*日期时间选择器*/
$dateTimePicker-color-background: (
  "dark-gray": #363638,
  "dark-blue": #252c40,
  "light-white": #ffffff,
);
$dateTimePicker-color-border: (
  "dark-gray": #484848,
  "dark-blue": #353e56,
  "light-white": #cecece,
);
@mixin dateTimePicker {
  @each $theme in $themes {
    .#{$theme} .dateTimePicker {
      background: map-get($map: $dateTimePicker-color-background, $key: $theme);
      border-color: map-get($map: $dateTimePicker-color-border, $key: $theme);

      .el-time-panel {
        background: map-get(
          $map: $dateTimePicker-color-background,
          $key: $theme
        );
      }

      .el-time-panel__footer {
        border-top: 1px solid map-get($map: $dateTimePicker-color-border, $key: $theme);
      }

      .el-time-panel__content::after,
      .el-time-panel__content::before {
        border-color: map-get($map: $dateTimePicker-color-border, $key: $theme);
      }

      .el-picker-panel__icon-btn {
        color: map-get($map: $color-text-primary, $key: $theme);
      }

      .el-date-table th {
        border-bottom: 1px solid map-get($map: $dateTimePicker-color-border, $key: $theme);
      }

      .el-date-picker__time-header,
      .el-date-picker__header--bordered,
      .el-date-range-picker__time-header,
      .el-date-range-picker__content.is-left {
        border-color: map-get($map: $dateTimePicker-color-border, $key: $theme);
      }

      .el-date-range-picker__time-header > .el-icon-arrow-right {
        color: map-get($map: $color-text-primary, $key: $theme);
      }

      .el-picker-panel__footer {
        background: map-get(
          $map: $dateTimePicker-color-background,
          $key: $theme
        );
        border-top: 1px solid map-get($map: $dateTimePicker-color-border, $key: $theme);
      }

      .el-date-table td.in-range div {
        background: map-get(
          $map: $dateTimePicker-color-background,
          $key: $theme
        );
      }
    }
  }
}

// 消息对话框
@mixin messageBox {
  @each $theme in $themes {
    .#{$theme} .messageBox.el-message-box {
      background-color: map-get(
        $map: $dateTimePicker-color-background,
        $key: $theme
      );
      border-color: map-get($map: $dateTimePicker-color-border, $key: $theme);

      .el-message-box__content {
        color: map-get($map: $color-text-regular, $key: $theme);
      }

      .el-message-box__title {
        color: map-get($map: $color-text-primary, $key: $theme);
      }
    }
  }
}
